@import "../../sass/smart-grid";

.navigation {
  @media (max-width: $break_largeTablet) {
    padding: 80px 0;

    &__wrapper {
      width: 100%;
    }

    &__content {
      padding-left: 0;
    }

    &__button {
      top: 20px + 20px;
      right: 20px;
    }

    &__heading {
      margin-bottom: 40px;

      width: 100%;
      text-align: center;
    }

    &__container {
      width: 100%;
      text-align: center;
    }

    &__item {
      width: 100%;
    }

    &__contacts {
      width: 100%;
      flex-direction: column;
    }

    &__contact:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  @media (max-width: $break_smallTablet) {
    &__wrapper {
      padding-top: 30px;
    }

    &__button {
      width: 50px;
      height: 50px;

      top: 20px;
      right: 20px;
    }

    &__heading {
      font-size: 18px;
    }

    &__container {
      margin-bottom: 0;
    }

    &__item:not(:last-child) {
      margin-bottom: 25px;
    }

    &__title {
      font-size: 16px;
    }

    &__sub-title {
      font-size: 14px;
    }
  }
}