include ../../core/bemto

mixin item(object)
    +e.item
        +e("a")(href=object[0].route).title= object[0].string

        if (object[1] !== false)
            +e("a")(href=object[1].route).sub-title= object[1].string

+b("div").navigation._hidden
    +e.wrapper
        +e.scroll
            +e.content
                +e("button")(type="button").button
                    i(class="icon-slose")

                +e("h4").heading Меню

                +e("nav").container
                    +item([{
                        route: "index.html",
                        string: "Главная"
                    }, false])

                    +item([{
                        route: "favorite-projects.html",
                        string: "Избранные проекты"
                    }, {
                        route: "portfolio.html",
                        string: "Все проекты"
                    }])

                    +item([{
                        route: "services.html",
                        string: "Услуги"
                    }, false])

                    +item([{
                        route: "about-us.html",
                        string: "Студия"
                    }, {
                        route: "cooperation.html",
                        string: "Сотрудничество"
                    }])

                    +item([{
                        route: "contacts.html",
                        string: "Контакты"
                    }, {
                        route: "get-started.html",
                        string: "Заполнить бриф"
                    }])

                +e("nav").contacts
                    +e("a")(href="https://www.behance.net/fodesignstudio" target="_blank").contact Behance
                    +e("a")(href="https://dribbble.com/fodesignstudio" target="_blank").contact Dribbble
                    +e("a")(href="https://www.instagram.com/fodesignstudio" target="_blank").contact Instagram
                    +e("a")(href="https://vk.com/fodesignstudio" target="_blank").contact ВКонтакте