@import "../../sass/smart-grid";

.case-hero {
  @media (max-width: $break_largeTablet) {
    padding-top: 80px + 40px;
    padding-bottom: 80px;

    height: auto;
    max-height: none;
    min-height: auto;

    &__heading {
      font-size: 32px;
    }

    &__description {
      margin-top: 20px;
      font-size: 16px;
    }

    &__footer {
      margin-top: 40px;

      flex-direction: column;
      align-items: flex-start;
    }

    &__block:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  @media (max-width: $break_smallTablet) {
    &__block:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}