include ../../core/bemto

mixin button-has-icon(icon, content)
    +b("a")(href="#").button-has-icon
        +e("span").icon
            i(class=icon)

        +e("span").content
            = content