@import "../../../sass/smart-grid";

.services {
  @media (max-width: $break_largeTablet) {
    &__group:not(:last-child) {
      margin-bottom: 80px;
    }

    &__category {
      max-width: 200px;
    }
  }

  @media (max-width: $break_smallTablet) {
    margin-bottom: 60px;

    &__service {
      padding: 20px 0;
    }

    &__group:not(:last-child) {
      margin-bottom: 40px;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__category {
      max-width: 100%;
    }

    &__heading {
      font-size: 18px;
      padding-right: 60px;
    }

    &__button {
      top: 5px;
      width: 45px;
      height: 45px;
    }

    &__category {
        font-size: 22px;

      &_content {
        margin-bottom: 15px;
      }
    }

    &__price {
      font-size: 14px;
    }

    &__description {
      font-size: 14px;
    }

    &__footer {
      margin-top: 15px;
    }
  }
}