include ../../../core/bemto
include ../../_ui/button-has-icon/button-has-icon

mixin service-item(category, object)
    +e.service._hidden
        +e.wrapper
            if (category !== false)
                +e("span").category._content= category

            else
                +e.category

            +e.content
                +e("button").button
                    i(class="icon-plus")

                +e("h3").heading= object.heading
                +e("span").price= object.price

                +e.hidden
                    +e("p").description= object.description
                    +e.footer
                        +button-has-icon("#", "icon-arrow-right", "Узнать подробности")

+b("section").services
    +e.group
        +service-item("Поддержка", {
            heading: "Поддержка сайта",
            price: "от 12 490 ₽ / месяц",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

    +e.group
        +service-item("Разработка сайтов", {
            heading: "Корпоративный сайт",
            price: "200 000 ₽  — 450 000 ₽",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

        +service-item(false, {
            heading: "Промо-сайт",
            price: "150 000 ₽ — 300 000 ₽",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

        +service-item(false, {
            heading: "Интернет-магазин",
            price: "300 000 ₽  — 800 000 ₽",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

        +service-item(false, {
            heading: "Порталы и сервисы",
            price: "300 000 ₽ — 1 200 000 ₽",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

    +e.group
        +service-item("Разовые работы", {
            heading: "Программирование сайта",
            price: "1 600 ₽/час",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

        +service-item(false, {
            heading: "Дизайн сайта",
            price: "1 400 ₽/час",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

        +service-item(false, {
            heading: "HTML-верстка",
            price: "1 100 ₽/час",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

        +service-item(false, {
            heading: "Проектирование сайта",
            price: "1 000 ₽/час",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })

    +e.group
        +service-item("Под ключ", {
            heading: "Приложения",
            price: "от 400 000 ₽",
            description: "Веб-сайт, за которым не следят, убивает ваш бизнес. 80% ваших посетителей покинут ваш сайт и никогда не вернутся. Ваши идеальные клиенты заходят на ваш сайт, когда он не работает или лагает. Мы решаем все эти проблемы."
        })