//
// Variables
// --------------------------------------------------

//## Base colors
$color-black: #000000
$color-white: #FFFFFF

//## Font settings
$font-color: $color-black
$font-family: "Roboto", sans-serif
$font-size: 16px
$font-line-height: normal

//## Transitions
$transition-delay: 300ms
$transition-type: ease
