@import "_mixins/transition"

@import "variables"
@import "fonts"
@import "icomoon"
@import "page"

@import "_themes/dark"
@import "_themes/light"

//*
  @include transition()

body
  margin: 0
  padding: 0

  font-family: $font-family
  font-size: $font-size
  line-height: $font-line-height

  direction: ltr

  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: auto