@import "../../sass/smart-grid";

.button-explore {
  @media (max-width: $break_largeTablet) {
    padding: 0 50px;
  }

  @media (max-width: $break_smallTablet) {
    padding: 0 25px;
    line-height: 40px;
  }
}