@import "../../sass/_mixins/transition"
@import "../../sass/variables"
@import "../../sass/smart-grid"

.next-page
  padding: 170px 0

  &__content
    max-width: 1160px
    margin: 0 auto
    @include wrapper-full()

    .button-has-icon
      margin-top: 80px

.page_theme_dark
  .next-page
    background-color: #08090D