include ../../../core/bemto
include ../../heading-page/heading-page
include ../../_ui/button-has-icon/button-has-icon

mixin person(username, role, images)
    - var background = images.x1 + " 1x, " + images.x2 + " 2x"

    +e.person
        +e("div")(data-bgset=background).thumbnail.lazyload
            +e.overlay

        +e.content
            +e("h5").username= username
            +e("p").role= role

+b("section").about-team
    +e.wrapper
        +heading-page({
            tag: "h3",
            content: "Команда"
        }, {
            tag: "p",
            content: "Мы — специалисты: создадим актуальный продукт для достижения любых целей клиентов."
        })

        +e.container
            +person("Андрей Фомин", "Босс", {
                x1: "images/about-team/1/image.png",
                x2: "images/about-team/1/image@2x.png"
            })

            +person("Даниил Фетисов", "Арт-директор", {
                x1: "images/about-team/2/image.png",
                x2: "images/about-team/2/image@2x.png"
            })

            +person("Никита Козлов", "Frontend-разработчик", {
                x1: "images/about-team/3/image.png",
                x2: "images/about-team/3/image@2x.png"
            })

            +person("Александр Гладких", "Backend-разработчик", {
                x1: "images/about-team/4/image.png",
                x2: "images/about-team/4/image@2x.png"
            })

            +person("Иван Дендак", "Дизайнер", {
                x1: "images/about-team/5/image.png",
                x2: "images/about-team/5/image@2x.png"
            })

            +person("Ярослав Шилов", "Разработчик", {
                x1: "images/about-team/6/image.png",
                x2: "images/about-team/6/image@2x.png"
            })

            +person("Даниил Васильев", "Разработчик приложений", {
                x1: "images/about-team/7/image.png",
                x2: "images/about-team/7/image@2x.png"
            })

            +person("Сергей Максимчук", "Иллюстратор", {
                x1: "images/about-team/8/image.png",
                x2: "images/about-team/8/image@2x.png"
            })

            +person("Светлана Рейх", "Копирайтер", {
                x1: "images/about-team/9/image.png",
                x2: "images/about-team/9/image@2x.png"
            })

            +person("Азим Нигманов", "Юрист", {
                x1: "images/about-team/10/image.png",
                x2: "images/about-team/10/image@2x.png"
            })

            +person("Елизовета Михайловна", "Бухгалтер", {
                x1: "images/about-team/11/image.png",
                x2: "images/about-team/11/image@2x.png"
            })

            +e.person
                +e("div").thumbnail
                    +e.overlay
                        +e("h6").invite Хочешь работать с нами?
                        +button-has-icon("#", "icon-arrow-right", "Связаться")