include ../../core/bemto
include ../../blocks/button-has-icon/button-has-icon

+b("section").information-hero
    +e.content
        +e("h1").heading Делаем чистые, аккуратные сайты
        +e("p").description Думаем о том, как правильно преподнести ваш бизнес, услуги, идеи
        +e.button
            +button-has-icon("icon-chevron-right", "Избранные кейсы")