include ../../core/bemto

mixin heading-page(overHeading, heading)
    +b.heading-page
        if (overHeading !== false)
            +e(overHeading.tag).over-heading= overHeading.content

        +e(heading.tag).heading= heading.content