include ../../core/bemto

mixin heading-page(overHeading, heading)
    +b.heading-page
        if (overHeading !== false)
            +e("h1").over-heading= overHeading

        +e("h1").heading= heading