@import "../../../sass/smart-grid";

.contacts-hero {
  @media (max-width: $break_largeTablet) {
    &__grid {
      flex-direction: column;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &__group:last-child {
      margin-top: 40px;
    }
  }
}