include ../../../core/bemto
include ../../section-header/section-header

mixin category-slide(images, title, text)
    - var background = images.x1 + " 1x, " + images.x2 + " 2x"

    +e.category-slide.lazyload(data-bgset=background)
        +e.overlay
            +e("h4").title= title
            +e("p").text= text

+b("section").services-carousel
    +e.left
        +e.wrapper
            +section-header("Наши услуги", "Полномасштабная веб-студия", "Будьте уверены, заказывая разработку проекта «под ключ» у нас, потому что мы покрываем весь процесс:")

            +e("ul").categories
                each categoryItem in ["Стратегия", "Дизайн", "Разработка", "Реклама"]
                    +e("li").item
                        +e("button")(type="button").category= categoryItem

    +e.right
        +e.categories-slider
            +e.category-slide.lazyload(data-bgset="images/services-carousel/design/thumbnail.jpg")
                +e.overlay
                    +e("h4").title Заголовок 1
                    +e("p").text Под-заголовок

            +e.category-slide.lazyload(data-bgset="images/services-carousel/design/thumbnail.jpg")
                +e.overlay
                    +e("h4").title Заголовок 2
                    +e("p").text Под-заголовок

            +e.category-slide.lazyload(data-bgset="images/services-carousel/design/thumbnail.jpg")
                +e.overlay
                    +e("h4").title Заголовок 3
                    +e("p").text Под-заголовок

            +e.category-slide.lazyload(data-bgset="images/services-carousel/design/thumbnail.jpg")
                +e.overlay
                    +e("h4").title Заголовок 4
                    +e("p").text Под-заголовок