@import "../../sass/smart-grid";

.footer {
  @media (max-width: $break_mediumDesktop) {
    padding: 40px 0;

    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    &__navigation {
      order: 0;
      margin-bottom: 15px;
    }

    &__menu {
      order: 1;
      margin-bottom: 15px;
    }

    &__copyright {
      order: 2;
    }
  }

  @media (max-width: $break_smallTablet) {
    &__navigation {
      flex-direction: column;
      align-items: flex-start;
    }

    &__route:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__menu {
      flex-direction: column;
      align-items: flex-start;
    }

    &__link:not(:first-child) {
      margin-left: 0;
      margin-bottom: 5px;
    }
  }
}