extends ./contains/default

block vars
    - const title="Case: VR-Pass"
    - const layout="case"
    - const theme="dark"

block content
    include ../blocks/header/header

    include ../blocks/case-hero/case-hero
    +case-hero({
        heading: "VR Pass",
        description: "Для любителей квестов в виртуальной реальности существуют специальные игры любой сложности, которые могут отравить вас как в классическую комнату, так и на другую планету. Для детей различного возраста также предусмотрены развивающие игры и  приложения.",
        client: "VR Pass",
        activity: "Дизайн UI/UX, брендинг и разработка"
    })

    //include ../blocks/case-task/case-task
    //+case-task("Разработать информационный корпоративный сайт с возможностью записаться на игру, с выбором даты, и времени игры.", "vr-pass", {
    //    x1: "images/case-task/pad.png",
    //    x2: "images/case-task/pad@2x.png"
    //})

    include ../blocks/next-page/next-page
    +next-page({
        href: "case-ocean.html",
        overHeading: "Далее",
        heading: "Океан Бизнес-идей",
        description: false
    })

    include ../blocks/footer/footer