extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Кейс - Океан Бизнес-идей"
    - const layout="case"
    - const theme="dark"

block content
    include ../blocks/_parts/header/header
    +header({
        themefy: true,
        hamburger: true
    })

    main.page__main
        include ../blocks/_sections/case-hero/case-hero
        +case-hero({
            heading: "Океан Бизнес-идей",
            description: "Когда-то образование и профессию выбирали на всю жизнь.",
            client: "Океан Бизнес-идей",
            activity: "Дизайн UI/UX, брендинг и разработка"
        })

        include ../blocks/_sections/case-body/case-body
        +case-body([
            "https://mir-s3-cdn-cf.behance.net/project_modules/fs/9a240784376031.5d5b22f08e2d4.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/fs/1058f384376031.5d5b22f08fa1e.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/fs/933be284376031.5d5b22f08f00d.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/fs/c2730984376031.5d5b22f08fd79.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/fs/3797a784376031.5d5b22f08f50d.png"
        ])

        include ../blocks/_sections/next-page/next-page
        +next-page({
            href: "case-vrpass.html",
            overHeading: "Далее",
            heading: "VR Pass",
            description: false
        })

    include ../blocks/_parts/footer/footer