extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Кейс - Океан Бизнес-идей"
    - const layout="case"
    - const theme="dark"

block content
    include ../blocks/_parts/header/header
    +header({
        themefy: true,
        hamburger: true
    })

    include ../blocks/_sections/case-hero/case-hero
    +case-hero({
        heading: "Океан Бизнес-идей",
        description: "Когда-то образование и профессию выбирали на всю жизнь.",
        client: "Океан Бизнес-идей",
        activity: "Дизайн UI/UX, брендинг и разработка"
    })

    include ../blocks/_sections/next-page/next-page
    +next-page({
        href: "case-vrpass.html",
        overHeading: "Далее",
        heading: "VR Pass",
        description: false
    })

    include ../blocks/_parts/footer/footer