extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Кейс - VR-Pass"
    - const layout="case"
    - const theme="dark"

block content
    include ../blocks/_parts/header/header
    +header({
        themefy: true,
        hamburger: true
    })

    main.page__main
        include ../blocks/_sections/case-hero/case-hero
        +case-hero({
            heading: "VR Pass",
            description: "Для любителей квестов в виртуальной реальности существуют специальные игры любой сложности, которые могут отравить вас как в классическую комнату, так и на другую планету. Для детей различного возраста также предусмотрены развивающие игры и  приложения.",
            client: "VR Pass",
            activity: "Дизайн UI/UX, брендинг и разработка",
            location: "https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/b93c8285651803.5d823749dc073.png"
        })

        include ../blocks/_sections/case-body/case-body
        +case-body([
            "https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/6f030985651803.5d823940bc2a9.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/af4a7385651803.5d823749da570.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/dcedca85651803.5d823749d9581.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/f67f6d85651803.5d823749d9c94.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/22e1b485651803.5d823749db90e.png",
            "https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/cf737985651803.5d823749db2da.png"
        ])

    include ../blocks/_sections/next-page/next-page
    +next-page({
        href: "case-ocean.html",
        overHeading: "Далее",
        heading: "Океан Бизнес-идей",
        description: false
    })

    include ../blocks/_parts/footer/footer