extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Контакты"
    - const layout="contacts"
    - const theme="dark"

block content
    include ../blocks/_parts/header/header
    +header({
        themefy: true,
        hamburger: true
    })

    main.page__main
        include ../blocks/_sections/contacts-hero/contacts-hero

        include ../blocks/_sections/next-page/next-page
        +next-page({
            href: "get-started.html",
            overHeading: "Далее",
            heading: "Начать проект",
            description: false
        })

    include ../blocks/_parts/footer/footer