extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Сотрудничество"
    - const layout="cooperation"
    - const theme="dark"

block content
    include ../blocks/_parts/header/header
    +header({
        themefy: true,
        hamburger: true
    })

    main.page__main
        include ../blocks/_sections/cooperation-hero/cooperation-hero

        include ../blocks/_sections/next-page/next-page
        +next-page({
            href: "contacts.html",
            overHeading: "Далее",
            heading: "Контакты",
            description: false
        })

    include ../blocks/_parts/footer/footer