extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Избранные проекты"
    - const layout="homepage"
    - const theme="dark"

block content
    include ../blocks/_parts/header/header
    +header({
        themefy: false,
        hamburger: true
    })

    include ../blocks/_sections/favorites-hero/favorites-hero
    include ../blocks/_parts/footer/footer