extends ./contains/default

block vars
    - const title="Homepage"
    - const layout="homepage"
    - const theme="dark"

block content
    include ../blocks/header/header
    include ../blocks/information-hero/information-hero
    include ../blocks/recent-works/recent-works
    include ../blocks/services-carousel/services-carousel
    include ../blocks/footer/footer