extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Главная"
    - const layout="homepage"
    - const theme="dark"

block content
    include ../blocks/header/header
    include ../blocks/information-hero/information-hero

    include ../blocks/recent-works/recent-works
    +recent-works(true, "portfolio.html", "Смотреть все проекты")

    //include ../blocks/services-carousel/services-carousel
    include ../blocks/clients-carousel/clients-carousel

    include ../blocks/next-page/next-page
    +next-page({
        href: "services.html",
        overHeading: "Далее",
        heading: "Услуги",
        description: false
    })

    include ../blocks/footer/footer