extends ./contains/default

block vars
    - const title="Services"
    - const layout="services"
    - const theme="dark"

block content
    include ../blocks/header/header

    include ../blocks/heading-page/heading-page
    +heading-page(false, {
        tag: "h1",
        content: "Услуги"
    })

    include ../blocks/services/services

    include ../blocks/next-page/next-page
    +next-page({
        overHeading: "Далее",
        heading: "Контакты",
        description: false
    })

    include ../blocks/footer/footer