extends ./contains/default

block vars
    - const title="fodesign / Дизайн студия Андрея Фомина / Услуги"
    - const layout="services"
    - const theme="dark"

block content
    include ../blocks/_parts/header/header
    +header({
        themefy: true,
        hamburger: true
    })

    main.page__main
        include ../blocks/heading-page/heading-page
        +heading-page(false, {
            tag: "h1",
            content: "Услуги"
        })

        include ../blocks/_sections/services/services

        include ../blocks/_sections/next-page/next-page
        +next-page({
            href: "portfolio.html",
            overHeading: "Далее",
            heading: "Портфолио",
            description: false
        })

    include ../blocks/_parts/footer/footer