include ../../core/bemto
include ../../blocks/section-header/section-header
include ../../blocks/button-explore/button-explore
include ../../blocks/portfolio-item/portfolio-item

mixin recent-works(hasHeader, href, buttonText)
    +b("section").recent-works
        if (hasHeader !== false)
            +section-header("Последние проекты", false, "Работаем с амбициозными брендами и людьми и создаём что-то великое вместе")

        +e.content
            +e.item
                +portfolio-item("case-vrpass.html",
                    {
                        heading: "VR Pass",
                        description: "Помогли запустить корпоративный сайт клубу виртуальной реальности из Питера",
                        tag: {
                            icon: "icon-web",
                            text: "Корпоративный сайт"
                        }
                    },
                    {
                        x1: "images/portfolio-thumbnails/vr/view/thumbnail.jpg",
                        x2: "images/portfolio-thumbnails/vr/view/thumbnail@2x.jpg"
                    }
                )

            +e.item
                +portfolio-item("case-ocean.html",
                    {
                        heading: "Океан Бизнес-идей",
                        description: "Разработали сервис по продаже онлайн-курсов, с проверкой домашних заданий и личным кабинетом для кураторов",
                        tag: {
                            icon: "icon-web",
                            text: "Сервис"
                        }
                    },
                    {
                        x1: "images/portfolio-thumbnails/ocean/view/thumbnail.jpg",
                        x2: "images/portfolio-thumbnails/ocean/view/thumbnail@2x.jpg"
                    }
                )

        +e.footer
            +button-explore(href, buttonText)