include ../../core/bemto
include ../../blocks/section-header/section-header

+b("section").recent-works
    +section-header("Последние проекты", false, "Работаем с амбициозными брендами и людьми и создаём что-то великое вместе")