include ../../../core/bemto
include ../../_ui/button-has-icon/button-has-icon

mixin case-hero(object)
    +b("section").case-hero
        +e.wrapper
            +e("h1").heading= object.heading
            +e("p").description= object.description
            +e.footer
                +e.block
                    +e("span").name Клиент
                    +e("h4").value= object.client

                +e.block
                    +e("span").name Активность
                    +e("h4").value= object.activity

                +e.block
                    +button-has-icon(object.location, "icon-arrow-right", "Посмотреть работу")