@import "../../sass/smart-grid";

.cooperation-hero {
  @media (max-width: $break_largeTablet) {
    &__blocks {
      margin-bottom: 15px;
      flex-direction: column;
    }

    &__block {
      padding: 20px 0;
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &__title {
      margin-bottom: 5px;
    }
  }

  @media (max-width: $break_smallTablet) {
    .heading-page {
      margin-bottom: 20px;

      &__heading {
        font-size: 22px;
      }
    }
  }
}