@import "../../sass/smart-grid";

.header {
  @media (max-width: $break_smallTablet) {
    padding: 15px 0 0 0;

    &__description {
      display: none;
    }

    &__button {
      width: 50px;
      height: 50px;

      font-size: 16px;

      &_themefy {
        position: fixed;

        right: 20px;
        bottom: 20px;
      }
    }
  }
}