include ../../../core/bemto
include ../../heading-page/heading-page
include ../../_ui/button-has-icon/button-has-icon

+b("section").cooperation-hero
    +e.wrapper
        +heading-page({
            tag: "h1",
            content: "Сотрудничество"
        }, {
            tag: "p",
            content: "Получи 10% с каждой успешной сделки. Продавать ничего не нужно, достаточно поделиться контактом, а остальным займемся мы."
        })

        +e.blocks
            +e.block
                +e("h5").title Средний бонус
                +e("p").content 8 370 ₽

            +e.block
                +e("h5").title Минимальный бонус
                +e("p").content 2 500 ₽

            +e.block._large
                +e("h5").title Заплатили агентам за 2019 год
                +e("p").content 1 125 500 ₽

        +button-has-icon("get-started.html", "icon-chat1", "Начать сотрудничество")